@model GT.CS6460.BuddyUp.WebAPP.Models.DisplayCourseModel
@{
    ViewBag.Title = "CourseTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.CourseCode - @Model.CourseName</h2>
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(m => m.CourseDescription)
            </dt>
            <dd>
                @Model.CourseDescription
            </dd>
        </dl>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(m => m.GroupType)
            </dt>
            <dd>
                @Model.GroupType
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(m => m.GroupSize)
            </dt>
            <dd>
                @Model.GroupSize
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(m => m.DesiredSkillSets)
            </dt>
            <dd>
                @Model.DesiredSkillSets
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(m => m.PreferSimiliarSkillSet)
            </dt>
            <dd>
                @if(Model.PreferSimiliarSkillSet)
                {
                       <span>True</span>
                }
                else
                { 
                    <span>False</span>
                }
            </dd>
        </dl>
    </div>    
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4>Course Teachers</h4>
        <dl class="dl-horizontal">
            @foreach (var user in Model.Users)
            {
                if(user.role.Equals("Teacher", StringComparison.OrdinalIgnoreCase))
                { 
                    <dt>
                        @user.name
                    </dt>
                    <dd>
                        @user.emailId
                    </dd>
                    <dd>
                        @user.role
                    </dd>
                    <br />
                }
            }
        </dl>
    </div>
</div>
<hr />
<div class="row">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#questionnaire">
        <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>View Questionnaire
    </button>
    <div id="questionnaire" class="collapse">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                @foreach (var question in Model.Questions)
                {
                    <dt>
                        @question.QuestionText
                    </dt>
                    <dd>
                        @Html.DropDownList("ddl", new SelectList(question.AnswerChoices))
                    </dd>
                    <br />
                }
            </dl>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#users">
        <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>View All Users
    </button>
    <div id="users" class="collapse">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                @foreach(var user in Model.Users)
                {
                    <dt>
                        @user.name
                    </dt>
                    <dd>
                        @user.emailId
                    </dd>
                    <dd>
                        @user.role
                    </dd>
                    <br />
                }
            </dl>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#groups">
        <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>View All Groups
    </button>
    <div id="groups" class="collapse">
        @if(Model.Groups == null || Model.Groups.Count == 0)
        {
           <h4>There are no groups in this course yet.</h4>
        }
        else
        { 
            int indexSize = Model.Groups.Count;
            for (int i = 0; i < indexSize; i = i + 3)
            {
                <div class="row">
                    @if (i < indexSize)
                    {
                        <div class="col-lg-4">
                            <h4>@Model.Groups.ElementAt(i).GroupName</h4>
                            <br />
                            <span><i>@Model.Groups.ElementAt(i).TimeZone</i></span>
                            <br />
                            <span>@Model.Groups.ElementAt(i).Objective</span>
                            <button type="button" class="btn btn-info pull-right" onclick="@("window.location.href='" + @Url.Action("GroupDetail", "Group", new { groupCode = Model.Groups.ElementAt(i).GroupCode }) + "'") ;"><span class="glyphicon glyphicon-eye-open"></span>  View Group</button>
                        </div>
                    }
                    @if (i + 1 < indexSize)
                    {
                        <div class="col-lg-4">
                            <h4>@Model.Groups.ElementAt(i + 1).GroupName</h4>
                            <br />
                            <span><i>@Model.Groups.ElementAt(i + 1).TimeZone</i></span>
                            <br />
                            <span>@Model.Groups.ElementAt(i + 1).Objective</span>
                            <button type="button" class="btn btn-info pull-right" onclick="@("window.location.href='" + @Url.Action("GroupDetail", "Group", new { groupCode = Model.Groups.ElementAt(i + 1).GroupCode }) + "'") ;"><span class="glyphicon glyphicon-eye-open"></span>  View Group</button>
                        </div>
                    }
                    @if (i + 2 < indexSize)
                    {
                        <div class="col-lg-4">
                            <h4>@Model.Groups.ElementAt(i + 2).GroupName</h4>
                            <br />
                            <span><i>@Model.Groups.ElementAt(i + 2).TimeZone</i></span>
                            <br />
                            <span>@Model.Groups.ElementAt(i + 2).Objective</span>
                            <button type="button" class="btn btn-info pull-right" onclick="@("window.location.href='" + @Url.Action("GroupDetail", "Group", new { groupCode = Model.Groups.ElementAt(i + 2).GroupCode }) + "'") ;"><span class="glyphicon glyphicon-eye-open"></span>  View Group</button>
                        </div>
                    }
                    </div>
                <hr />
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <input type="button" class="btn btn-info pull-right" value="Go Back" onclick="@("window.location.href='" + @Url.Action("Teacher", "Course") + "'");" />

    </div>
</div>
